/* Todas as demais mídias*/

/* Typical Device Breakpoints
    Pequenas telas até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 1200px
    Desktop: 992 até 1200px 
    Grandes telas: acmia de 1200px


*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
}
@media screen and (min-width:769px) and (max-width:992px) {
    body{
        background-image: url(imagens/back-tablet.jpg);
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    body{
        background-image: url(imagens/back-pc.jpg);
    }
}
@media screen and (min-width:1200px){
    body{
        background-image: url(imagens/back-tv.jpg);
        main{
            width: 700px;
        }
    }
}